body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure {
margin:0;
padding:0;
}

body {
font:400 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
color:#111;
background-color:#fdeefd;
-webkit-text-size-adjust:100%;
-webkit-font-feature-settings:kern 1;
-moz-font-feature-settings:kern 1;
-o-font-feature-settings:kern 1;
font-feature-settings:kern 1;
font-kerning:normal;
background-image:linear-gradient(-45deg,#FFF8F825%,transparent25%,transparent50%,#FFF8F850%,#FFF8F875%,transparent75%,transparent);
background-size:8px 8px;
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,.highlight {
margin-bottom:15px;
}

img {
max-width:100%;
vertical-align:middle;
}

figure>img {
display:block;
}

figcaption {
font-size:14px;
}

ul,ol {
margin-left:30px;
}

h1,h2,h3,h4,h5,h6 {
font-weight:400;
}

a {
color:#2a7ae2;
text-decoration:none;
}

a:visited {
color:#1756a9;
}

a:hover {
color:#111;
text-decoration:underline;
}

.social-media-list a:hover {
text-decoration:none;
}

.social-media-list a:hover .username {
text-decoration:underline;
}

blockquote {
color:#828282;
border-left:4px solid #e8e8e8;
padding-left:15px;
font-size:18px;
letter-spacing:-1px;
font-style:italic;
}

pre,code {
font-size:15px;
border:1px solid #e8e8e8;
border-radius:3px;
background-color:#eef;
}

code {
padding:1px 5px;
}

pre {
overflow-x:auto;
padding:8px 12px;
}

pre>code {
border:0;
padding-right:0;
padding-left:0;
font-size:.8em;
}

.wrapper {
max-width:calc(800px-(30px*2));
margin-right:auto;
margin-left:auto;
padding-right:30px;
padding-left:30px;
background:#FFF;
border:3px solid #EEE;
border-radius:16px;
}

.wrapper:after,.footer-col-wrapper:after {
content:"";
display:table;
clear:both;
}

.icon>svg {
display:inline-block;
vertical-align:middle;
}

.icon>svg path {
fill:#828282;
}

.social-media-list .icon {
padding-right:5px;
}

.social-media-list li+li {
padding-top:5px;
}

.site-header {
border-top:5px solid #424242;
min-height:55.95px;
position:relative;
border-bottom:none;
}

.site-title {
font-size:26px;
font-weight:300;
line-height:54px;
letter-spacing:-1px;
margin-bottom:0;
float:left;
}

.site-title,.site-title:visited {
color:#424242;
}

.site-nav {
float:right;
line-height:54px;
}

.site-nav .page-link {
color:#111;
line-height:1.5;
}

.site-nav .page-link:not(:last-child) {
margin-right:20px;
}

.site-footer {
border-top:1px solid #e8e8e8;
padding:30px 0;
}

.footer-heading {
font-size:18px;
margin-bottom:15px;
}

.contact-list,.social-media-list {
list-style:none;
margin-left:0;
}

.footer-col-wrapper {
font-size:15px;
color:#828282;
margin-left:-15px;
}

.footer-col {
float:left;
margin-bottom:15px;
padding-left:15px;
}

.footer-col-1 {
width:calc(35%-(30px/2));
}

.footer-col-2 {
width:calc(20%-(30px/2));
}

.footer-col-3 {
width:calc(45%-(30px/2));
}

.page-content {
padding:30px 0;
}

.post-list {
margin-left:0;
list-style:none;
}

.post-list>li {
margin-bottom:12px;
}

.post-meta {
font-size:20px;
color:#828992;
}

.post-link {
display:block;
font-size:24px;
}

.post-title {
font-size:42px;
letter-spacing:-1px;
line-height:1;
}

.post-content h2 {
font-size:32px;
}

.post-content h3 {
font-size:26px;
}

.highlight {
background:#fff;
}

.highlighter-rouge .highlight {
background:#eef;
}

.highlight .err {
color:#a61717;
background-color:#e3d2d2;
}

.highlight .cp {
color:#999;
font-weight:700;
}

.highlight .cs {
color:#999;
font-weight:700;
font-style:italic;
}

.highlight .gd {
color:#000;
background-color:#fdd;
}

.highlight .gd .x {
color:#000;
background-color:#faa;
}

.highlight .ge {
font-style:italic;
}

.highlight .gi {
color:#000;
background-color:#dfd;
}

.highlight .gi .x {
color:#000;
background-color:#afa;
}

.highlight .go {
color:#888;
}

.highlight .gu {
color:#aaa;
}

.highlight .nb {
color:#0086B3;
}

.highlight .ni {
color:purple;
}

.highlight .nt {
color:navy;
}

.highlight .w {
color:#bbb;
}

.highlight .sr {
color:#009926;
}

.highlight .ss {
color:#990073;
}

.draft {
color:red;
font-size:200%;
border-top:2px solid teal;
border-bottom:2px solid teal;
}

.page-content>.wrapper {
padding:30px 45px 45px;
}

.site-footer>.wrapper {
padding-top:15px;
}

:target {
background-color:#EEF;
border:1px solid #AAF;
border-radius:8px;
margin:4px;
padding:4px;
}

.tag-list>li {
#display:inline-block;
list-style:none;
background-image:url(/assets/tag_purple.png);
background-repeat:no-repeat;
background-position:left center;
background-size:15px;
display:inline-block;
font-size:small;
padding:0 10px 0 20px;
}

.post-summary {
color:#666;
}

li>ul,li>ol,blockquote>:last-child {
margin-bottom:0;
}

.site-nav .nav-trigger,.site-nav .menu-icon {
display:none;
}

.page-heading,.post-content h4 {
font-size:20px;
}

.post-header,.post-content {
margin-bottom:30px;
}

.highlight .c,.highlight .cm,.highlight .c1 {
color:#998;
font-style:italic;
}

.highlight .k,.highlight .o,.highlight .gs,.highlight .kc,.highlight .kd,.highlight .kp,.highlight .kr,.highlight .ow {
font-weight:700;
}

.highlight .gr,.highlight .gt {
color:#a00;
}

.highlight .gh,.highlight .bp {
color:#999;
}

.highlight .gp,.highlight .nn {
color:#555;
}

.highlight .kt,.highlight .nc {
color:#458;
font-weight:700;
}

.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il {
color:#099;
}

.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .s1 {
color:#d14;
}

.highlight .na,.highlight .no,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi {
color:teal;
}

.highlight .ne,.highlight .nf {
color:#900;
font-weight:700;
}

@media screen and max-width 800px{
.wrapper {
max-width:calc(800px-(30px));
padding-right:15px;
padding-left:15px;
}

.footer-col-1,.footer-col-2 {
width:calc(50%-(30px/2));
}

.footer-col-3 {
width:calc(100%-(30px/2));
}

.post-title {
font-size:36px;
}

.post-content h2 {
font-size:28px;
}

.post-content h3 {
font-size:22px;
}

.post-content h4 {
font-size:18px;
}
}

@media screen and max-width 600px{
.site-nav {
position:absolute;
top:9px;
right:15px;
background-color:#fdfdfd;
border:1px solid #e8e8e8;
border-radius:5px;
text-align:right;
}

.site-nav label[for="nav-trigger"] {
display:block;
float:right;
width:36px;
height:36px;
z-index:2;
cursor:pointer;
}

.site-nav .menu-icon {
display:block;
float:right;
width:36px;
height:26px;
line-height:0;
padding-top:10px;
text-align:center;
}

.site-nav .menu-icon>svg path {
fill:#424242;
}

.site-nav input ~ .trigger {
clear:both;
display:none;
}

.site-nav input:checked ~ .trigger {
display:block;
padding-bottom:5px;
}

.site-nav .page-link {
display:block;
margin-left:20px;
padding:5px 10px;
}

.site-nav .page-link:not(:last-child) {
margin-right:0;
}

.footer-col {
float:none;
width:calc(100%-(30px/2));
}
}